main {
    text-align: center;
}

.description {
    text-align: center;
}

/* Library hero in index.html */
.library {
    text-align: center;
}

.about-link {
    background-color: #B9D9EB;
}

.zine-link {
    background-color: #FFBF00;
}

.work-link {
    background-color: #93C572;
}

.contact-link {
    background-color: #FFB7C5;
}

/* End of library */


.labels {
    letter-spacing: -1px; 
    font-size: 30px;
    padding: 0px 30% 0px 30%;
}

h3 {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.2px;
    font-family: "Work Sans", sans-serif;
}

.footer {
    text-align: center;
    letter-spacing: -0.8px;
    line-height: 5px;
    font-size: 14px;
    color: #7b7b7b;
}


/* about.html */
.about {
    line-height: 22px;
    letter-spacing: -1px; 
    font-size: 18px;
    padding: 0px 30% 0px 30%;
}


/* zine.html */
* {
    box-sizing: border-box;
}

.collection {
    text-align: center;
    font-family: "Work Sans", sans-serif;
}

#images {
    width: 60%;
    height: auto;
    border: 1px dotted black;
    margin: -10px 0 50px 0;
}

.layout {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    row-gap: 5px;
    place-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* body */
body {
    font-family: "Work Sans", sans-serif;
}

::selection {
    background-color: #43766C;
    color: #FAF7F0;
}

a {
    color: black;
    text-decoration: none;
}

a#link:hover {
    background-color: #056f04;
    color: #FAF7F0;
}


/* bookmark */
.bookmark pre {
    font-size: 10px;
    text-align: center; 
    position: absolute; 
    top: -12px;
}


/* MEDIA QUERIES */
@media (max-width: 800px) {
    .about {
        padding: 0px 18% 0px 18%;
    }

    .bookmark {
        font-size: 7.5px;
        top: -8px;
        left: 0px;
    }
}