main {
    text-align: center;
}

.description {
    text-align: center;
    font-family: "Work Sans", sans-serif;
}

h3 {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.2px;
    font-family: "Work Sans", sans-serif;
}

/* zine.html */
* {
    box-sizing: border-box;
}

.collection {
    text-align: center;
    font-family: "Work Sans", sans-serif;
}

#images {
    width: 60%;
    height: auto;
    border: 1px dotted black;
    margin: -10px 0 50px 0;
}

.layout {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    row-gap: 5px;
    place-items: center;
    padding-left: 20px;
    padding-right: 20px;
}