/* work.html */
.work-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding-right: 30px;
    padding-left: 30px
}

.work-button {
    border-radius: 10%;
    border: 1px dotted black;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -0.5px;
    font-size: 11px;
    background: #898989;
    color: #ececec;
}

.work-button:hover {
    background:	#000000;
    color: #ececec;
    cursor: pointer;
}
