/* work.html */
.work-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding-right: 30px;
    padding-left: 30px
}

.work-button {
    border-radius: 8%;
    border: 1px dotted black;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -0.5px;
    font-size: 11px;
    background: #898989;
    color: #ececec;
}

.work-button:hover {
    background:	#000000;
    color: #ececec;
    cursor: pointer;
}

.work-images {
    width: 65%;
    height: auto;
    margin: 10px 0px 20px 0px
}

.work-description {
    padding: 20px 27% 30px 27%;
    line-height: 1.3em;
}
 
pre .ball {
    color: white;
}

@media (max-width: 800px) {
    .work-description {
        padding: 20px 15% 30px 15%;
    }

    .work-images {
        width: 75%;
    }

    .work-container {
        grid-template-columns: 1fr;
    }

    .bookmark-mobile.ball a {
        color: white;
    }
}